<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ModelEditor.Properties.Settings>
            <setting name="debug_open_editortest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debug_show_menu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recent_files" serializeAs="String">
                <value />
            </setting>
            <setting name="fallback_ontology" serializeAs="String">
                <value />
            </setting>
        </ModelEditor.Properties.Settings>
    </userSettings>
</configuration>