<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BatchExporter.Properties.Settings>
            <setting name="servicePath" serializeAs="String">
                <value>c:/</value>
            </setting>
            <setting name="systemPath" serializeAs="String">
                <value>c:/</value>
            </setting>
            <setting name="autoBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="caseCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="backupOldCases" serializeAs="String">
                <value>False</value>
            </setting>
        </BatchExporter.Properties.Settings>
    </userSettings>
</configuration>